.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.addNewTaskModal {
    z-index: 9;
    width: 350px;
    height: 400px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    font-size: 2rem;
    border-radius: 5px;
    padding: 10px;
  }

  .addNewTaskModal p{
    font-size: 20px;
 
  }

  .addNewTaskModalMain{
    display: flex;
    flex-direction: column;
  }

  .newTaskTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .newTaskTitle label{
    font-size: 1.3rem;
    width: 60px;
    margin-right: 10px;
  }

  .newTaskTitle input{
    height: 30px;
    width: 100%;
    padding: 5px;
  }

  .newTaskDesciption{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .newTaskDesciption p {
    font-size: 1.3rem;
    align-self: flex-start;
  }

  .newTaskDesciption textarea{
    height: 100px;
    width: 100%;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .addNewTaskButtonContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
  }

  .addNewTaskButtonContainer button{
    width: 70px;
    height: 30px;
  }

.chooseDate{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
}