.dropArea{
    width: 100%;
    height: 100%;
    columns: #dcdcdc;
    /* border: 1px dashed #dcdcdc;
    border-radius: 5px; */
    padding: 1px;
    margin-bottom: 1px;
    opacity: 1;
    transition: all .2s ease-in-out;
}

.hideDrop{
    opacity: 0;
}