.taskContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.editableContent{
    width: 100%;
}

.contentContainer,
.contentContainerDate,
.contentContainerStatus{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
}

.contentContainer{
    margin-top: 30px;
    height: 400px;
}

.editButtons{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 30px;
    padding-top: 30px;
    max-width: 150px;
    
}
.editButtons button{
    width: 100px;
    height: 50px;
    cursor: pointer;
}
.editButtons a{
    max-width: 100px;
    
}
.homeButton{
    width: 30px;
    height: 30px;
}