:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  
  background: linear-gradient(0.35turn, #c1c8cb, #484c45, #ebe9e5);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  border: 0;
}

body{
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

